body {
    background-color: #FFF;
}
.nav {
    background-color: #EFEFEF;
}
.white-bg{
    background-color: #fff;
}
.nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav__link {
    padding: 17px 15px;
}
.nav__link {
    padding: 30px 20px;
}
.nav__item {
    color: #000;
}

.nav__list2 {
    border-top: 1px solid #EFEFEF;
}
.twoside {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    gap: 20px;
}
.logo__name {
    color: #F13C6E;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.6px;
    text-transform: uppercase;
}
.call {
    gap: 40px;
}
.call__link {
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.btn {
    border: 2px solid;
    border-radius: 40px;
}
.call__btn {
    border-color: #F13C6E;
    background-color: #fff;
    padding: 12px 50px;
}
.section3 {
    display: flex;
    width: 1920px;
    height: 604px;
    background-image: url(../img/chair-phone.png);
}
.section3__container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-self: center;
    margin-left: 405px;
}
.section3__title {
    color: #FFF;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.section3__text {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    width: 308px;
}
.section3__btn {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.7px;
    width: 170px;
    height: 40px;
    border-radius: 40px;
    border: 2px solid #FFF;
}
.section4 {
    padding: 80px 15%;
    background-color: #EFEFEF;
}
.section4>.section4__container>h3 {
    margin-left: 100px;
    margin-bottom: 30px;
    color: #000;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.goods {
    gap: 30px;
}
.goods__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #fff;
    max-width: 225px;
    padding: 25px 65px;
}
.item__img {
    width: 125px;
}
.item__name {
    width: 195px;
    color: #333;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140.625%;
}
.item__price {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.05px;
}
.item__btn {
    border-color: #F13C6E;
    background-color: #F13C6E;
    color: #fff;
    padding: 9px 53px;
    text-transform: capitalize;
}
.section4__container2 {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 100px;
    max-width: 1120px;
    justify-content: center;
}
.section4__box1 {
    display: flex;
    flex-direction: row;
    gap: 90px;
    padding: 40px 35px;
    background: #F13C6E;
    max-width: 540px;
}
.section4__textbox {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.section4__title {
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.section4__text {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140.625%; 
}
.section4__input {
    padding: 9px 25px;
    border-radius: 30px;
    background: #FFF;
}
.section4__box2 {
    max-width: 540px;
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding: 40px 35px;
    background: #F13C6E;
}